.recipe_top {
    display: table-cell;
}
.recipe_top img {
    float: left;
}
.recipe_about {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 1em 0 1.25em;
    margin: 0 auto 2em;
    line-height: 1.25em;
    border-bottom: 1px solid #d7d9db;
}
.recipe_wrapper {
    clear: both;
    padding-bottom: 1.5em;
    border-top: 1px solid #d7d9db;
    border-bottom: 1px solid #d7d9db;
}



.recipe_about .label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.recipe_about .info {
    display: block;
}

.recipe_about li:before {
    content: "/";
    position: absolute;
    top: .3em;
    right: -.23em;
    font-size: 1.75em;
    font-weight: 400;
    color: #d7d9db;
    padding: 0;
}

.recipe_about li {
    position: relative;
    text-align: center;
    display: table-cell;
    padding: 0 1.375em;
}

@media screen and (max-width: 400px) {

	.recipe-card-title {
	     font-size: small; 
	}
	
}

@media screen and (max-width: 767px) {
	.recipe_about li {
	    display: block;
	    float: left;
	    width: 50%;
	    padding: 0 1em 1em;
	}
	.recipe-card-title {
	     font-size: large; 
	}
	
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
	.recipe_about li {
	    display: block;
	    float: left;
	    width: 25%;
	    padding: 0 1em 1em;
	}
}

@media screen and (min-width: 815px) {
	.recipe-card-title {
	     font-size: small; 
	}
}




@media screen and (min-width: 972px) {
	.recipe-ingredients {
	    float: left;
	    width: 26%;
	    margin-right: 2%;
	}
	.recipe-procedures {
	    margin-left: 28%;
	    padding-top: 0;
	    margin-top: 0;
	    border-top: 0;
	}

	.recipe-card-title {
	     font-size: large; 
	}
}

.recipe-ingredients li {
    padding-bottom: .85em;
}
.recipe-procedure {
    display: table-row;
}

.recipe-procedures-list {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.recipe-procedures {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #d7d9db;
}

.recipe-procedure-text {
    vertical-align: top;
    font-size: 1.125em;
}
.recipe-procedure-number {
    display: table-cell;
    width: 1.9em;
    vertical-align: top;
    padding: 0;
    font-weight: 700;
    line-height: 1.6875;
}

.recipe-bottom, .recipe-footer, .recipe-introduction, .recipe_wrapper {
    margin: 0 5% 1.5em;
    padding: 0;
}
ol, ul {
    margin: 0;
    padding: 0; 
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.recipe-card-title {
    font-weight: bold; 
	font-size: medium; 
}

.recipe-card-text {
    font-size: small; 
}

